In [1]:
print("Hello World")

Hello World

In [7]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\program files\python313\lib\site-packages (from pandas) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\23214290027\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\23214290027\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------------- ----------------------- 4.7/11.5 MB 28.8 MB/s eta 0:00:01
   ------------------------------- -------- 9.2/11.5 MB 24.7 MB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 22.2 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 18.8 MB/s eta 0:00:00
Downloading pytz-2025.1-py2.py3-none-any.whl (507 kB)
Downloading tzdata-2025.1-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.3 pytz-2025.1 tzdata-2025.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
#Importe o pandas no ambiente

import pandas as pd


# carregamento do arquivo marketing.csv

marketing = pd.read_csv("./marketing.csv")

print (marketing)

          user_id date_served marketing_channel          variant converted  \
0      a100000029      1/1/18         House Ads  personalization      True
1      a100000030      1/1/18         House Ads  personalization      True
2      a100000031      1/1/18         House Ads  personalization      True
3      a100000032      1/1/18         House Ads  personalization      True
4      a100000033      1/1/18         House Ads  personalization      True
...           ...         ...               ...              ...       ...
10032  a100007290     1/17/18             Email          control      True
10033  a100007291     1/17/18             Email          control      True
10034  a100007292      1/5/18         Instagram          control     False
10035  a100007293     1/17/18             Email          control      True
10036  a100007294      1/6/18          Facebook          control     False

      language_displayed language_preferred    age_group date_subscribed  \
0                English            English   0-18 years          1/1/18
1                English            English  19-24 years          1/1/18
2                English            English  24-30 years          1/1/18
3                English            English  30-36 years          1/1/18
4                English            English  36-45 years          1/1/18
...                  ...                ...          ...             ...
10032             German             German  45-55 years         1/17/18
10033             German             German    55+ years         1/17/18
10034             German             German    55+ years         1/17/18
10035             German             German   0-18 years         1/17/18
10036             German             German   0-18 years         1/17/18

      date_canceled subscribing_channel is_retained
0               NaN           House Ads        True
1               NaN           House Ads        True
2               NaN           House Ads        True
3               NaN           House Ads        True
4               NaN           House Ads        True
...             ...                 ...         ...
10032       1/24/18               Email       False
10033           NaN               Email        True
10034           NaN               Email        True
10035           NaN               Email        True
10036           NaN               Email        True

[10037 rows x 12 columns]

In [ ]:

# a) Imprima as primeiras 5 linhas do DatFrame marketing

marketing.head(5)

,user_id,date_served,marketing_channel,variant,converted,language_displayed,language_preferred,age_group,date_subscribed,date_canceled,subscribing_channel,is_retained
0,a100000029,1/1/18,House Ads,personalization,True,English,English,0-18 years,1/1/18,NaN,House Ads,True
1,a100000030,1/1/18,House Ads,personalization,True,English,English,19-24 years,1/1/18,NaN,House Ads,True
2,a100000031,1/1/18,House Ads,personalization,True,English,English,24-30 years,1/1/18,NaN,House Ads,True
3,a100000032,1/1/18,House Ads,personalization,True,English,English,30-36 years,1/1/18,NaN,House Ads,True
4,a100000033,1/1/18,House Ads,personalization,True,English,English,36-45 years,1/1/18,NaN,House Ads,True

In [ ]:
# b) Imprima um resumo estatístico de todas as colunas do DataFrame marketing


marketing.describe(include='all')

,user_id,date_served,marketing_channel,variant,converted,language_displayed,language_preferred,age_group,date_subscribed,date_canceled,subscribing_channel,is_retained
count,10037,10021,10022,10037,10022,10037,10037,10037,1856,577,1856,1856
unique,7309,31,5,2,2,4,4,7,31,115,5,2
top,a100000882,1/15/18,House Ads,control,False,English,English,19-24 years,1/16/18,4/2/18,Instagram,True
freq,12,789,4733,5091,8946,9793,9275,1682,163,15,600,1279

In [4]:

# c) Imprima tipos de dados das colunas e a quantidade de valores não-nulos por coluna


marketing.info()

NameError: name 'marketing' is not defined

In [5]:
# marketing('corverted')

marketing('corverted') = marketing['corverted'].astype('bool')

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (467669461.py, line 3)